<app-header titulo="Grid">
</app-header>



<ion-content fullscreen>
    <ion-grid fixed>

        <!-- <ion-row>
            <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                hola, item {{ i +1 }}
            </ion-col>

        </ion-row> -->

        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-card>
                    <ion-img src="/assets/shapes.svg"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>Subtitle</ion-card-subtitle>
                        <ion-card-title>Title</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, dicta? Minus ab quasi impedit, nihil sapiente consequuntur eligendi error distinctio vitae, maiores beatae architecto quia nisi aperiam modi saepe accusamus.</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>