<ion-header no-border>
    <ion-toolbar>
        <ion-title>componentes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" routerLinkActive="router-link-active" detail>
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
        </ion-item>

    </ion-list>

    <!-- <ion-button routerLink="/alert">
        Alert
    </ion-button>

    <ion-button routerLink="/action-sheet">
        Action-sheet
    </ion-button> -->

</ion-content>