<app-header titulo="Card"></app-header>

<ion-content padding>
    <ion-card mode="md" color="tertiary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="tertiary">
            <ion-icon color="light" name="pin" slot="start"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempore sequi repellat quae maxime quo atque nostrum voluptate necessitatibus a consequuntur nobis unde nam error, beatae aliquam dignissimos cum exercitationem!
        </ion-card-content>

    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ducimus quae fugiat, consectetur fugit omnis eligendi exercitationem quibusdam culpa vel laborum voluptatibus optio illum, illo debitis sint amet dolores nesciunt!</ion-card-content>
    </ion-card>

</ion-content>